<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<!-- Header -->
		<%- include('partials/header.ejs') %>
		<!-- Navbar -->
		<%- include('partials/navbar.ejs') %>
		<!-- Hero -->
		<%- include('partials/hero.ejs') %>

		<section class="intro">
			<div class="container intro-wrap">
				<div class="row no-gutters">
					<div
						class="col-md-12 col-lg-9 bg-intro d-sm-flex align-items-center align-items-stretch"
					>
						<div class="intro-box d-flex align-items-center">
							<!-- <div
								class="icon d-flex align-items-center justify-content-center"
							>
								<i class="flaticon-repair"></i>
							</div> -->
							<h2 class="mb-0 mr-5">
								Need repair? <span>Call us now for doorstep repair!</span>
								<!-- Call now on -->
							</h2>
							<!-- <a href="tel:919989583474">
								<h1 class="mb-0" style="color: #f79f24">+91 9989583474</h1>
							</a> -->
						</div>
						<a
							href="tel:919989583474"
							class="bg-primary btn-custom d-flex align-items-center"
							><span style=" font-size: large; font-weight: 600;">+91-9989583474</span></a
						>
					</div>
				</div>
			</div>
		</section>

		<!-- Services -->
		<%- include('partials/service.ejs') %>
		<!-- Mission & vision -->
		<!-- <%- include('partials/vision.ejs') %> -->
		<!-- Experience -->
		<%- include('partials/experience.ejs') %>
		<!-- Book Appointment -->
		<%- include('partials/appointment.ejs') %>
		<!-- Testimonials -->
		<%- include('partials/testimonials.ejs') %>
		<!-- News & Blog -->
		<!-- <%- include('partials/news.ejs') %> -->
		<!-- Prices -->
		<!-- <%- include('partials/prices.ejs') %> -->
		<!-- Projects -->
		<%- include('partials/projects.ejs') %>
		<!-- Footer -->
		<%- include('partials/footer.ejs') %>
		<!-- Scripts -->
		<%- include("partials/scripts.ejs") %>
		<script>
			function sendWAMsg() {
			  let service = document.appointmentForm.service.value;
			  let name = document.appointmentForm.name.value;
			  let mobile = document.appointmentForm.mobile.value;
			  let date = document.appointmentForm.date.value;
			  let time = document.appointmentForm.time.value;
			  let message = document.appointmentForm.message.value;
			  window.open(
				`https://api.whatsapp.com/send/?phone=919989583474&text=Hi%2C%20I%20am%20looking%20for%20repair%20services%20for%20${service}%20on%20${date}%20-%20${time}.%20Details%20%3A%20${message}.%20Thanks%20${name}`,
				"_blank"
			  );
			}
		  </script>
	</body>
</html>
